$wp-light-grey: #ededed;
$wp-grey: #d9d9d9;
$wp-grey-border: 1px solid #d9d9d9;
$wp-blue: #0073aa;
$droppable-border: 1px dashed #cecece;
$rows-height: 45px;
$item-text-color: #555d66;
$item-icons-color: #7d838a;
