/**
 * --------------------------------------------------------------------------------
 * Plugin Style
 * --------------------------------------------------------------------------------
*/
.wpt_widget_content .entry-title {
  margin-top: 3px!important;
  font-size: 15px;
  line-height: 18px;
}
